.paragrafo1 {
color: rgb(209, 248, 33);
text-align: justify;
font-size:  20px;
}


.paragrafo2 {
    color: rgb(214, 218, 20, 0.822);
    text-align: justify;
    font-size:  20px;
    }

    .paragrafo3 {
        color: rgb(206, 240, 84);
        text-align: justify;
        font-size:  20px;
        }    

        .paragrafo4 {
            color: rgb(214, 218, 20, 0.822);
            text-align: justify;
            font-size:  20px;
            }
            .paragrafo5 {
                color: rgb(214, 218, 20, 0.822);
                text-align: justify;
                font-size:  20px;
                }     
                .paragrafo6 {
                    color: rgb(214, 218, 20, 0.822);
                    text-align: justify;
                    font-size:  20px;
                    }
                    .paragrafo7 {
                        color: rgb(214, 218, 20, 0.822);
                        text-align: justify;
                        font-size:  40px;
                        }
                        .paragrafo10 {
                            color: rgba(214, 218, 20, 0.822);
                            text-align: justify;
                            font-size:  20px;
                            }
#nome { 
text-align: center;
color: red;

}

h2 {
    color: #ff9900;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: burlywood;
}
