.paragrafo1 {
color: blue;
text-align: justify;
font-size:  20px;
}


.paragrafo2 {
    color: rgb(103, 103, 134);
    text-align: justify;
    font-size:  20px;
    }

    .paragrafo3 {
        color: rgb(206, 240, 84);
        text-align: justify;
        font-size:  20px;
        }    

        .paragrafo4 {
            color: rgb(77, 212, 43);
            text-align: justify;
            font-size:  20px;
            }
            .paragrafo5 {
                color: rgb(12, 208, 243);
                text-align: justify;
                font-size:  20px;
                }     
                .paragrafo6 {
                    color: rgb(192, 40, 20);
                    text-align: justify;
                    font-size:  20px;
                    }
                    .paragrafo7 {
                        color: rgb(247, 13, 13);
                        text-align: justify;
                        font-size:  40px;
                        }
                        .paragrafo10 {
                            color: rgb(246, 250, 16);
                            text-align: justify;
                            font-size:  20px;
                            }
#nome { 
text-align: center;
color: red;

}

h2 {
    color: #ff00bf;
    font-size: 20px;
    text-align: center;
}